{% extends 'appointApp/layout.html' %}

{% block subtitile %}
    Contact us 
{% endblock %}

{% block body %}


<div class="col-lg-8 wow fadeInUp mx-auto" data-wow-delay="0.5s">
    <h3 class="display-2 text-center">About Us</h3>
    <div class="bg-light rounded h-100 d-flex align-items-center p-5">
        <div class="col-lg-12 mx-auto">
        <h1 class=" mx-auto text-center"> MedAppoint <br></h1>
        <h5>
            <ul>
                <li>This is a web application based on Django which uses SQL database to store the information 
                    of Doctors and Patients and uses AI to book an
                    appointment to the desired Doctor with the minimum time possible.</li>
                <li>After the appointment reports will be further stored inside the database so that both Patients
                    and Doctors can access them when needed.</li>
                <li>After the appointment reports will be further stored inside the database so that both Patients
                    and Doctors can access them when needed.</li>
                <li>By analysing the Doctors schedule and previous record our AI will predict the availability of the Doctor in the Hospital.</li>
            </ul>
            <br>
            <br>
            <br>
            Designed by Team HackDev
        </h5>
        </div>
        
        
         
    </div>   
    
</div>
{% endblock %}