{% extends 'appointApp/layout.html' %}

{% block subtitile %}
    Contact us 
{% endblock %}

{% block body %}

<div class="col-lg-6 wow fadeInUp mx-auto" data-wow-delay="0.5s">
    <h2 class="display-2 text-center">Book Appointment</h2>
    <div class="bg-light rounded h-100 d-flex align-items-center p-5">
        <form class="row g-3 w-100" action="/search-doctor" id="search-doctor" method="GET">
            <div class="row g-3 mx-auto" >
                <div class="col-12 mx-auto " >
                    <input type="text" class="form-control border-0" name="name" placeholder="Doctor Name" style="height: 55px;">
                </div>
                <div class="col-12">
                    <button class="btn btn-primary w-100 py-3" id="submit" type="submit">Search Doctor</button>
                </div>

            </div>
            
        </form>
    </div>   
    <script>
        document.querySelector("#submit").addEventListener("click", (e)=>{
            e.preventDefault();
        })
    </script>
</div>
{% endblock %}