{% extends 'appointApp/layout.html' %}

{% block subtitile %}
    Contact us 
{% endblock %}

{% block body %}
<div class="col-lg-6 wow fadeInUp mx-auto" data-wow-delay="0.5s">
    <h2 class="display-2 text-center">Contact Us</h2>
    <div class="bg-light rounded h-100 d-flex align-items-center p-5">
        <form action="/register-doctor" id="register-doctor" method="GET">
            <div class="row g-3">
                <div class="col-12 col-sm-6">
                    <input type="text" class="form-control border-0" name="name" placeholder="Your Name" style="height: 55px;">
                </div>
                <div class="col-12 col-sm-6">
                    <input type="text" class="form-control border-0" name="number" placeholder="Your Mobile" style="height: 55px;">
                </div>
                <div class="col-12 ">
                    <input type="email" class="form-control border-0" name="email" placeholder="Your Email" style="height: 55px;">
                </div>
                
                
                <div class="col-12">
                    <textarea class="form-control border-0" rows="5" placeholder="State your Querry."></textarea>
                </div>

            </div>
            <div class="col-12">
                <button class="btn btn-primary w-100 py-3" id="submit" type="submit">Send Enquiry</button>
            </div>
        </form>
    </div>   
</div>
{% endblock %}