{% extends 'appointApp/layout.html' %}

{% block subtitile %}
    Doctor Registration
{% endblock %}

{% block body %}
<div class="col-lg-6 wow fadeInUp mx-auto" data-wow-delay="0.5s">
    <h2 class="display-2 text-center">Patient Registration</h2>
    <div class="bg-light rounded h-100 d-flex align-items-center p-5">
        <form action="/register-doctor" id="register-doctor" method="GET">
            <div class="row g-3">
                <div class="col-12 col-sm-6">
                    <input type="text" class="form-control border-0" name="name" placeholder="Your Name" style="height: 55px;">
                </div>
                <div class="col-12 col-sm-6">
                    <input type="email" class="form-control border-0" name="email" placeholder="Your Email" style="height: 55px;">
                </div>
                <div class="col-12 col-sm-6">
                    <input type="text" class="form-control border-0" name="number" placeholder="Your Mobile" style="height: 55px;">
                </div>
                <div class="col-12 col-sm-6">
                    <input type="text" class="form-control border-0" name="pincode" id="pincodeField" placeholder="Your Address Pincode" style="height: 55px;">
                    <small id="pincode-message">Type your pincode to get your locality.</small>
                </div>
                <div class="col-12 col-sm-6">
                    <input type="text" class="form-control border-0" name="city" id="cityField" placeholder="District" style="height: 55px;">
                </div>
                <div class="col-12 col-sm-6">
                    <input type="text" class="form-control border-0" name="state" id="stateField" placeholder="State" style="height: 55px;">
                </div>
                <div class="col-12 col-sm-6">
                    <div class="date" id="date" data-target-input="nearest">
                        <input type="text" name="date-of-birth"
                            class="form-control border-0 datetimepicker-input"
                            placeholder="Choose Date of Birth" data-target="#date" data-toggle="datetimepicker" style="height: 55px;">
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <select name="gender" class="form-select border-0" style="height: 55px;">
                        <option selected>Choose Gender</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                        <option value="O">Other</option>
                    </select>
                </div>

                <!-- Date Input -->
                <!-- <div class="col-12 col-sm-6">
                    <div class="date" id="date" data-target-input="nearest">
                        <input type="text"
                            class="form-control border-0 datetimepicker-input"
                            placeholder="Choose Date" data-target="#date" data-toggle="datetimepicker" style="height: 55px;">
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="time" id="time" data-target-input="nearest">
                        <input type="text"
                            class="form-control border-0 datetimepicker-input"
                            placeholder="Choose Date" data-target="#time" data-toggle="datetimepicker" style="height: 55px;">
                    </div>
                </div> -->
                <!-- Date input ends here -->
                <!-- <div class="col-12">
                    <textarea class="form-control border-0" rows="5" placeholder="Describe yourself."></textarea>
                </div> -->
                <div class="col-12 col-sm-6">
                    <input class="form-check-input" type="checkbox" id="registered-doctor" name="registered-doctor" value="false">
                    <label class="form-check-label">Are You Registered Doctor?</label>
                </div> 
                <div id="registration-details" class="d-none">
                    <div class="col-12 col-sm-6">
                        <input type="text" class="form-control border-0" name="registration-number" id="registration-number" placeholder="Registration Number" style="height: 55px;">
                    </div>

                    <div class="col-12 col-sm-6">
                        <input type="text" class="form-control border-0" name="registration-year" id="registration-year" placeholder="Registration Year" style="height: 55px;">
                    </div>

                </div>
                <div class="col-12">
                    <button class="btn btn-primary w-100 py-3" id="submit" type="submit">Register Doctor</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", ()=>{
        document.querySelector("#submit").addEventListener("click", (e)=>{
            e.preventDefault();
        })

        
    })
    document.querySelector("#registered-doctor").addEventListener("change", (e)=>{
        const registered = document.querySelector("#registered-doctor").checked
        if (registered){
            document.querySelector("#registration-details").className = "row g-3";
        }else{
            document.querySelector("#registration-details").className = "d-none";
        }
    })
    document.querySelector("#pincodeField").addEventListener('input', (event) =>{
        const pincode = event.target.value;
        if (pincode.length == 6){
            const url = "https://api.data.gov.in/resource/6176ee09-3d56-4a3b-8115-21841576b2f6?api-key=579b464db66ec23bdd000001cdd3946e44ce4aad7209ff7b23ac571b&format=json&filters%5Bpincode%5D="+pincode;
            fetch(url)
            .then((response) => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                
                return response.json();
            })
            .then((response) => {
                const record = response.records[0];
                console.log(response.records);
                document.querySelector("#stateField").value =  record.statename;
                document.querySelector("#cityField").value = record.districtname;
            });
        } else {
            document.querySelector("#stateField").value =  "";
            document.querySelector("#cityField").value = "";   
        }
    })
</script>
{% endblock %}